
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;

    height: 5em;

    padding: 0.5em 3em;

    background-color: whitesmoke;
}
nav button{
    background: none;
    border: none;
    text-decoration: underline;
    color: black;
}
nav button:hover{
    color: rgb(70, 70, 70);
}
nav img.logo{
    margin-right: 5em;
    height: 3em;
}
nav a {
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    width: 40em;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
header img {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    max-width: 100%;
}
header hgroup, header p{
    text-align: center;
}
header hgroup * {
    margin: 0;
}

.seleccion-dia-noche{
    margin: 2em 1em 0em 1em;
    display: flex;
    justify-content: space-around;
}
.seleccion-dia-noche img{
    align-self: center;
    width: 90%;
    height: 60%;
    margin-bottom: 0.5em;

    object-fit: cover;
}
.seleccion-dia-noche div{
    display: flex;
    flex-direction: column;
}
.seleccion-dia-noche button{
    align-self: center;
    width: 80%;
}

.tarjeta{
    justify-self: center;
    display: flex;
    justify-content: space-between;
    margin: auto;

    width: 90%;

    margin-bottom: 3em;

    overflow: hidden;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.tarjeta div{
    margin-right: 2em;
    margin-left: 2em;

    width: 35%;
}
.tarjeta img{
    object-fit: cover;
    width: 55%;
    height: 38vh;
}
.reversa{
    flex-direction: row-reverse;
}

.lista-actividades h2{
    width: fit-content;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 4em;

    text-transform: uppercase;
}

.seleccion-actividades{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.seleccion-actividades hgroup p{
    justify-self: center;
    width: 50%;
}
.selector-avanzado{
    display: flex;
    align-items: center;
    width: 70%;
}
.selector-avanzado form{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.selector-avanzado form div{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.selector-avanzado form label{
    margin-right: 1em;
}

.selector-avanzado form div#id-dias-semana{
    flex-direction: row;
    margin-bottom: 0;
}
.selector-avanzado .check-dia{
    width: 6.5em;
    flex-direction: row;
    padding: 0.25em;
    background: blue;
    border-radius: 0.2em;
    margin-right: 0.15em;
    margin-bottom: 0;
}
.selector-avanzado .check-dia input{
    margin-right: 0.4em;
}
.selector-avanzado select{
    padding: 0.5em;
    text-align: center;
}
.selector-avanzado button{
    width: 20%;
    align-self: center;
}